@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 80%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

.topBar {
  background-color: #2c3e50;
  padding: 5px 0;
}

.topBar .logo {
  display: block;
  color: #f1c40f;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  padding: 10px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    margin: 0 auto;
  }
}

nav ul li {
  font-size: 1.2rem;
  margin: 0 10px;
  color: #4a9375;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (max-width: 767px) {
  nav ul li {
    margin: 0 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
            flex: 0 0 19%;
    letter-spacing: unset;
  }
}

nav ul li a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #f1c40f;
}

header {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header hgroup {
  background-color: rgba(39, 174, 96, 0.7);
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  padding: 40px;
}

@media (max-width: 767px) {
  header hgroup {
    padding: 20px;
  }
}

header hgroup h1 {
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0 0 2px #2c3e50;
}

@media (max-width: 767px) {
  header hgroup h1 {
    font-size: 2.5rem;
    line-height: 1.3;
  }
}

header hgroup h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

header hgroup button {
  background-color: #f1c40f;
  padding: 15px 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-family: sans-serif;
  margin-top: 20px;
}

.about {
  background-position: center bottom;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 174, 96, 0.6)), to(rgba(39, 174, 96, 0.6))), url(../img/onama.jpg);
  background-image: linear-gradient(rgba(39, 174, 96, 0.6), rgba(39, 174, 96, 0.6)), url(../img/onama.jpg);
  padding: 200px 0;
  text-align: center;
  color: #fff;
}

@media (max-width: 767px) {
  .about {
    padding: 50px 0;
  }
}

.about h2 {
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0 0 2px #2c3e50;
}

@media (max-width: 767px) {
  .about h2 {
    font-size: 2.5rem;
  }
}

.about p {
  text-shadow: 0 0 2px #2c3e50;
  font-weight: 400;
  font-weight: 1.1rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.location article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

@media (max-width: 767px) {
  .location article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.location article div:first-child {
  position: relative;
}

.location article div:first-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background: -webkit-gradient(linear, left top, right top, from(#f1c40f), to(white));
  background: linear-gradient(to right, #f1c40f, white);
  position: absolute;
  bottom: 0;
}

.location article div:last-child {
  background-color: rgba(44, 62, 80, 0.9);
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

.location article:nth-child(even) div:last-child {
  background-color: rgba(39, 174, 96, 0.9);
}

.benefiti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e9ecef;
}

.benefiti article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 767px) {
  .benefiti article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.benefiti article img {
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.benefiti article h4 {
  text-align: center;
}

.benefiti article:first-child {
  padding: 50px 40px;
}

@media (max-width: 767px) {
  .benefiti article:first-child {
    padding: 50px 20px;
  }
}

@media (max-width: 767px) {
  .benefiti article:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.benefiti article:last-child {
  padding: 50px 40px;
}

@media (max-width: 767px) {
  .benefiti article:last-child {
    padding: 50px 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 196, 15, 0.9)), to(rgba(241, 196, 15, 0.9))), url(../img/footer.jpg);
  background-image: linear-gradient(rgba(241, 196, 15, 0.9), rgba(241, 196, 15, 0.9)), url(../img/footer.jpg);
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

@media (max-width: 767px) {
  footer {
    padding: 50px 0;
  }
}

footer h3 {
  font-size: 2rem;
}

footer p {
  margin: 20px 0 40px;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  footer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}

footer form input {
  margin-right: 20px;
  padding: 10px 10px;
}

@media (max-width: 767px) {
  footer form input {
    margin: 0 20px 10px 0;
    width: 100%;
  }
}

footer form button {
  padding: 15px 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #2c3e50;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
/*# sourceMappingURL=style.css.map */